.header {
    padding: 0 px;
}

.sky-image {
    background-image: url("sky.jpg");
    height: 200%;
    padding: 0px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

body {
    background-color: #b0e0e6;
    font-size: 16;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri Light, 'Trebuchet MS', sans-serif;
}

label {
    width: 200px;
    display: inline-block;
}

table {
    font-size: 16px;
    width: 50%;
}

tr, td {
    padding: 10px;
    text-align: left;
}
tr:hover {background-color: #f5f5f5;}

h1 {
    color: black;
    text-align: center;
}

input[type=submit] {
    padding: 5px 20px;
    background-color:rgb(140, 168, 179);
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

input[type=submit]:hover {
    background-color: #c9f0fc;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text] {
    padding: 5px 20px;
    box-sizing: border-box;

}